/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Elements
# Typography
# Colors:


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html{}
body {}
span {}
a {
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h1 {
}
h2 {
}
h3 {}
h4 {}
p {
}


/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.gradient {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(243, 201, 60, 1) 0%,rgba(213, 104, 33, 1) 50%,rgba(104, 43, 130, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(243, 201, 60, 1) 0%, rgba(213, 104, 33, 1) 50%, rgba(104, 43, 130, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(243, 201, 60, 1) ),color-stop(0.5,rgba(213, 104, 33, 1) ),color-stop(1,rgba(104, 43, 130, 1) ));
    background : -o-linear-gradient(0deg, rgba(243, 201, 60, 1) 0%, rgba(213, 104, 33, 1) 50%, rgba(104, 43, 130, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(243, 201, 60, 1) 0%, rgba(213, 104, 33, 1) 50%, rgba(104, 43, 130, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C', endColorstr='#682B82' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(243, 201, 60, 1) 0%, rgba(213, 104, 33, 1) 50%, rgba(104, 43, 130, 1) 100%);
    opacity : 0.6;
    filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C',endColorstr='#682B82' , GradientType=1);
}

/*--------------------------------------------------------------
# My CSS
--------------------------------------------------------------*/
.wrapper {
  width: 60%;
  margin: 0 auto;
}
.large-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
header, footer {
  padding-top: 15px;
  width: 100%;
  background-color: grey;
  color: #fff;
  text-align: center;
}
header h1, footer h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  color: #fff;
}
.corner {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 18px;
  left: 84%;
}
ul{
    justify-content: space-around;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding-left: 0px;
    margin-top: 25px;
    padding-bottom: 15px;
}
footer li {
  width: 25%;
}
aside {
  width: 20%;
  overflow-x: hidden;
}
.content {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.content h2 {
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}
.content section {
  width: 30%;
}
.policy h6 {
  background-color: grey;
}
.business h6 {
  background-color: red;
}
.news h6 {
  background-color: yellow;
}
.science h6 {
  background-color: orange;
}
.travel h6 {
  background-color: green;
}
.other h6 {
  background-color: black;
}
.label-display {

}
.content h6 {
  color: white;
  text-align: left;
  padding: 5px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.content img {
  width: 100%;
}
}
.box {
  border: 1px solid #bbb;
}
button {
  float: right;
}
footer {
  margin-top: 100px;
}
footer section {
  border-top: 1px solid white;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 0.5px;
}

@media query only screen and (max-width:540px) or (min-device-width: 0px) and (max-device-width: 540px) {

}
@media query (min-width:540px) and (max-width:768px) or (min-device-width:540px ) and (max-device-width: 768px){

}
@media query (min-width:768px) and (max-width:1020px) or (min-device-width: 768px) and (max-device-width: 1020px ) {
  .content section {
      width: 33%;
    }
}
