/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Elements
# Typography
# Colors:


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html{}
body {}
span {}
a {
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h1 {
}
h2 {
}
h3 {}
h4 {}
p {
}


/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
.gradient {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(243, 201, 60, 1) 0%,rgba(213, 104, 33, 1) 50%,rgba(104, 43, 130, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(243, 201, 60, 1) 0%, rgba(213, 104, 33, 1) 50%, rgba(104, 43, 130, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(243, 201, 60, 1) ),color-stop(0.5,rgba(213, 104, 33, 1) ),color-stop(1,rgba(104, 43, 130, 1) ));
    background : -o-linear-gradient(0deg, rgba(243, 201, 60, 1) 0%, rgba(213, 104, 33, 1) 50%, rgba(104, 43, 130, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(243, 201, 60, 1) 0%, rgba(213, 104, 33, 1) 50%, rgba(104, 43, 130, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C', endColorstr='#682B82' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(243, 201, 60, 1) 0%, rgba(213, 104, 33, 1) 50%, rgba(104, 43, 130, 1) 100%);
    opacity : 0.6;
    filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3C93C',endColorstr='#682B82' , GradientType=1);
}

/*--------------------------------------------------------------
# My CSS
--------------------------------------------------------------*/
.wrapper {
  max-width: 980px;
  width: 60%;
  margin: 0 auto;
}
.med-wrapper{
  max-width: 1020px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.large-wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
header, footer {
  padding-top: 15px;
  width: 100%;
  background-color: #4062BB;
  color: #fff;
  text-align: center;
}
header h1, footer h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  color: #fff;
}
header{
  margin-bottom: 40px;
}
.corner {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 18px;
  left: 84%;
}
ul{
    justify-content: space-around;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding-left: 0px;
    margin-top: 25px;
    padding-bottom: 15px;
}
ul a {
  color: white;
}
footer li {
  width: 25%;
}
aside {
  width: 20%;
}
.photo {
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-image: url("https://www.eiuperspectives.economist.com/sites/default/files/styles/editor_manualcrop/public/1Carolyn%20Wheelancrop.jpg?itok=C-8-YjAV&c=2b20a8115bbb2d38dbd89ce26a6e84aa");
  background-repeat: no-repeat;
  background-size: cover;
}
aside .box {
  padding: 20px;
}
aside a {
  font-size: 20px;
  margin-right: 5px;
  color: #4062BB;
}
aside h3{
  font-size: 26px;
}
.content {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.content h2 {
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}
.content section {
  width: 30%;
  margin-bottom: 40px;
}
.content h4 {
  font-size: 20px;
}
.content h5{
  font-size: 14px;
}
h6 {
  background-color: #4062BB;
}

.business h6 {
  background-color: #EB4837;
}
.news h6 {
  background-color: #593FDA;
}
.science h6 {
  background-color: #506B05;
}
.travel h6 {
  background-color: #151E3F;
}
.other h6 {
  background-color: #3E5C76;
}
.content h6 {
  color: white;
  text-align: left;
  padding: 5px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.content img {
  width: 100%;
}

button {
  float: right;
}
footer {
  margin-top: 100px;
}
footer section {
  border-top: 1px solid white;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 0.5px;
}
.box {
  border: 1px solid black;
}
button {
  border-radius: 15%;
  padding: auto 25px;
  background-color: white;
  border:1px solid #4062BB;
}
.content a {
  color: #4062BB;
}

.circle-picture {
	width: 300px;
	height: 300px;
  background-image: url("https://www.eiuperspectives.economist.com/sites/default/files/styles/editor_manualcrop/public/1Carolyn%20Wheelancrop.jpg?itok=C-8-YjAV&c=2b20a8115bbb2d38dbd89ce26a6e84aa");
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.self-bio {
  width: 50%;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media  (max-width:1024px) and (orientation:landscape) {

  aside {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  .photo{
    width:35%;
    height: auto;
    margin-right: 30px;
  }
  aside .box {
    width: 60%;
  }
  .content {
    width: 100%;
  }
  .large-wrapper {
    flex-flow: column;
  }
}
@media  (max-width:1024px) and (orientation:portrait) {

  .corner {
    left: 80%;
  }
  aside {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  .photo{
    width:55%;
    height: auto;
    margin-right: 30px;
    background-position: center;
  }
  aside .box {
    width: 60%;
  }
  .content {
    width: 100%;
  }
  .large-wrapper {
    flex-flow: column;
  }
}

@media  (max-width:767px) and (orientation:landscape) {
  .corner {
    display: none;
  }
  aside {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  .photo{
    width:35%;
    height: auto;
    margin-right: 30px;
    background-position: center;
  }
  aside .box {
    width: 60%;
  }
  .content {
    width: 100%;
  }
  .large-wrapper {
    flex-flow: column;
  }
  .self-bio {
    width: 100%;
  }

}
@media  (max-width:767px) and (orientation:portrait) {
  header {
    margin-bottom: 20px;
  }
  .large-wrapper {
    flex-flow: column;
  }
  aside {
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  .content {
    width: 100%;
  }
  .content > section {
    width: 100%;
  }
  .content h2 {
    font-size: 36px;
  }
  .corner {
    display: none;
  }
  .photo {
    width: 100%;
    height: 250px;
  }
  aside .box{
    text-align: center;
    width: 100%;
  }
  ul {
    display: none;
  }
  .self-bio {
    width: 100%;
  }
}
